*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav  {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    color: black;
    background-color: coral;
    padding: 25px 4rem;
    height: 80px;
    

}
ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

li{
    font-size: larger;
    font-weight: 800;
}

ul > li:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
.nav-text{
    font-size: larger;
    font-weight: 800;
}
.main-container{
    display: flex;
    width: 100%;
    background-color: rgb(230, 156, 83);
    justify-content: space-around;
    height: calc(100vh - 80px - 70px);
    padding: 1rem 4rem;
}
p {
    color: black;
    position: absolute;
    

}
.left-container , .right-container{
    width: 50%;
    height: 100%;
    

}
.left-container{
    display: flex;
    align-items: center;
}

.left-container img {
    width: 400px;
    height: 400px;
}
.right-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container,p {
    font-size: 0.8rem;
    width: 40%;
    
}

.input-id {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: coral;
    height: 70px;
}

input{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
    
}

