*  {
    height: auto;
    width: auto;
    
}
/* tag selector */
body{
    background-color: crimson;
}

form{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 0px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem 3rem;
}
input{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}
button{
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 800;
    background-color: crimson;
    color: white;
    border-radius: 8px;
}

h1,label,input{
    color:rgb(30, 30, 30);
    text-align: center;
    border-radius: 7px;
    
}
label{
    font-size: 30px;
}
.input-div{
    margin-top: 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 350px;
}

/* id selector */
#label{
    padding: 20px 10px;
    display: inline; 
}
/* class selector */
.form-input{
    padding: 5px 5px;
    display: flex;
}
/* navbar started */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    background-color: rgb(242, 236, 236);
    

}
.navbar > ul  {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    font-size: 150%;;
    color: rgb(19, 22, 142);

}
.nav > h1 {
    color: rgb(20, 20, 108);
    font-size: 150%;

}

.navbar > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* navbar end */
